<div class="event">
  <div class="event-header clearfix">
    <h2>
      <span class="muted">event:</span> {{ event }}
    </h2>
    <div class="inline-controls">
      <span class="start-time">start time</span>
      <form class="form-reset-event" action="#" method="post">
        <input type="submit" class="btn" value="Reset Data">
      </form>
      <form class="form-delete-event" action="#" method="post">
        <input type="submit" class="btn btn-danger" value="Delete">
      </form>
    </div>
  </div>
</div>