<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Flask-Bitmapist</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('.static', filename='css/dashboard.css') }}">
</head>
<body>

  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('.index') }}">Flask-Bitmapist</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{{ url_for('.events') }}">Events</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Default</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>


  <div class="container">
    {% block content %}
    {% endblock %}
    <div id="footer">
      <p>Powered by <a href="https://github.com/cuttlesoft/flask-bitmapist">Flask-Bitmapist</a> v{{ version }}</p>
    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!-- <script src="{{ url_for('.static', filename='js/dashboard.js') }}"></script> -->
</body>
</html>