{% extends "bitmapist/base.html" %}

{% block style %}
<style>
body > .container > *:first-child {
    margin-top: 80px;
}

select.op {
    font-size: 0.75em;
}

.form-group button.btn-xs {
    margin-top: 0.5em;
}

/* Cohort Heatmap Table*/

table.cohort.heatmap {
    width: 1250px !important;
  	font-family: sans-serif;
}

table.cohort.heatmap .entry {
    width: 6%;
    /*width: 75px;*/
}

table.cohort.heatmap td, table.cohort.heatmap th {
    padding: 5px 0;
    text-align: center;
    border-right: 1px solid #aaa;
}

table.cohort.heatmap td {
    border-bottom: 1px solid #aaa;
}


table.cohort.heatmap .date {
    display: inline-block;
    width: 125px;
}

table.cohort.heatmap .total_count {
    display: inline-block;
    width: 50px;
}

table.cohort.heatmap td.avg_row {
    border-top: 1px solid #aaa !important;
}

</style>
{% endblock %}

{% block content %}
<h1>Cohort</h1>

<!-- <form>
  Given users that
  <select name="main-event"></select>

  within the past
  <select name="time-group"></select>
  /
  since
  <select name="start-date"></select>

  ,
  how many also
  <select name="event-name"></select>
  <select name="event-name"></select>
  <select name="event-name"></select>
  ?
  Group results by
  <select name="time-group"></select>
  .
</form> -->

<div id="cohort" class="form-horizontal">
  <div class="form-group">
    <span class="col-sm-2 control-label">
      Of the users who
    </span>

    <div class="col-sm-2">
      <select name="main-event" class="form-control">
        <option></option>
        {% for name, value in event_options %}
        <option value="{{ value }}">{{ name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>


  <div id="events">
    <div class="form-group event">
      <span class="col-sm-2 control-label">
        <span class="additional-label">see how many</span>
      </span>

      <div class="col-sm-2">
        <select name="event-name" class="form-control">
          <option></option>
          {% for name, value in event_options %}
          <option value="{{ value }}">{{ name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col-sm-1">
        <select name="event-op" class="form-control event-op">
          {% for op in ['and', 'or'] %}
          <option value="{{ op }}">{{ op.upper() }}</option>
          {% endfor %}
        </select>

        <button class="event-remove btn btn-xs btn-warning">
          <span class="glyphicon glyphicon-minus"><span class="sr-only">remove condition</span></span>
        </button>
      </div>
    </div>
  </div>

  <div class="form-group">
    <span class="col-sm-2 control-label">
      each
    </span>

    <div class="col-sm-2">
      <select name="time-group" class="form-control">
        <option></option>
        {% for time_group in time_groups %}
        <option value="{{ time_group }}s">{{ time_group }}</option>
        {% endfor %}
      </select>
      <!--
      since
      <select name="start-date"></select>
      -->
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-2 col-sm-offset-2">
      <button id="add" class="btn btn-gray">
        <span class="glyphicon glyphicon-plus"><span class="sr-only">Add</span></span>
      </button>

      <button id="go" class="btn btn-success">
        Check <span class="glyphicon glyphicon-ok"><span class="sr-only">Go</span></span>
      </button>
    </div>
  </div>
</div>

<hr />

<div id="cohort-heatmap"></div>

<!-- <ul id="conditions" class="list-unstyled" style="margin-top:80px;">
    <li class="condition">
      <div class="row">
        <div class="col-md-1">
          <label class="subtractions" style="margin-top: 0.5em;">Conditions</label>
          <select name="operation" class="form-control additions">
            <option value="and">AND</option>
            <option value="or">OR</option>
          </select>
        </div>

        <div class="col-md-2">
          <select name="event-name" class="form-control">
            <option></option>
            {% for event_name in event_names %}
            <option value="{{ event_name }}">{{ event_name }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col-md-2">
          <select name="time-group" class="form-control subtractions">
            <option></option>
            {% for time_group in time_groups %}
            <option value="{{ time_group }}">{{ time_group }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col-md-1">
          <button class="remove additions btn btn-xs btn-warning"><span class="glyphicon glyphicon-minus"><span class="sr-only">remove condition</span></span></button>
        </div>
      </div>
    </li>

    <br />
  </ul>

  <button id="add" class="btn btn-gray"><span class="glyphicon glyphicon-plus"><span class="sr-only">Add</span></span></button>

  <button id="go" class="btn btn-success"><span class="glyphicon glyphicon-ok"><span class="sr-only">Go</span></span></button>

  <div id="cohort-heatmap" class="well"> (Add some conditions to get started...) </div> -->


  {% for e, event_name in event_options %}
    <div id="{{ event_name }}" class="event-name">
      <h1><small>{{ event_name }}</small></h1>
      <span class="event-time day">Past Day: {{ events[event_name][3] }}</span>
      <span class="event-time week">Past Week: {{ events[event_name][2] }}</span>
      <span class="event-time month">Past Month: {{ events[event_name][1] }}</span>
      <span class="event-time year">Past Year: {{ events[event_name][0] }}</span>
    </div>
  {% endfor %}


{% endblock %}

{% block js %}
<script>

  $('.event:first-of-type .event-op, .event:first-of-type .event-remove').hide();

  $('#add').on('click', function() {
    $('.event:last-of-type').clone().appendTo('#events');

    $('.event:nth-last-of-type(2) .event-op').show();

    $('.event:not(:first-of-type) .additional-label').hide();

    $('.event:not(:last-of-type) .event-remove').hide();
    if ($('.event').length != 1) {
      $('.event:last-of-type .event-remove').show();
    }
  });

  $('#events').on('click', '.event-remove', function() {
    $(this).closest('.event').remove();

    // not very sophisticated
    $('.event:last-of-type .event-op').hide();
    $('.event:last-of-type .event-remove').show();
    if ($('.event').length < 2) {
      $('.event .event-remove').hide();
    }
  });

  // $('#add').on('click', function() {
  //   $('.event:last-of-type').clone().appendTo('#events');
  //
  //   // For first new addition, handle unique show/hide from first condition
  //   if ($('.event').length == 2) {
  //     $('.event:last-of-type .additional').show();
  //   }
  // });
  //
  // $('#events').on('click', '.remove', function() {
  //   $(this).closest('.event').remove();
  // });

  $('#go').on('click', function() {

    console.log('hashtag go');
    // format the data
    // submit the data
    // AJAX + response
    // lines lining up
    // draw chart etc.

    //////////////////

    // format the data
    var cohort = {};
    // var condition = $('.condition:first-of-type');
    // var ops = $('.condition:not(:first-of-type)');
    //
    // var cohort = {
    //   // 'event': {
    //   //   'name': condition.find('select[name=event-name]').val(),
    //   //   'range': condition.find('select[name=interval]').val()
    //   // }
    //   'event_name': condition.find('select[name=event-name]').val(),
    //   'time_group': condition.find('select[name=time-group]').val()
    // };
    //
    // if (ops.length) {
    //   cohort['ops'] = [];
    //   ops.each(function(index) {
    //     var opEvent = {
    //       'name': $(this).find('select[name=event-name]').val(),
    //       // 'range': $(this).find('select[name=interval]').val(),
    //       'operation': $(this).find('select[name=operation]').val()
    //     };
    //     cohort['ops'].push(opEvent);
    //   });
    // }

    var cohort = {
      'time_group': $('select[name=time-group]').val(),
      'primary_event': $('select[name=main-event]').val(),
      'secondary_event': $('select[name=event-name]:first-of-type').val(),
      'additional_events': []
    };

    var additionalEvents = $('.event:not(:first-of-type)');
    if (additionalEvents) {
      additionalEvents.each(function(index) {
        // console.log($(this).prev('.event').find('select[name=event-op]').val(),
        //             $(this).find('select[name=event-name]').val());
        var thisEvent = {
          'name': $(this).find('select[name=event-name]').val(),
          'op': $(this).prev('.event').find('select[name=event-op]').val()
        };

        cohort.additional_events.push(thisEvent);
      });
    }

    console.log(cohort);

    // submit the data

    $.ajax({
      url: "{{ url_for('.cohort') }}",
      method: 'POST', // >= v1.9.0+
      // type: 'POST', // < v1.9.0
      data: JSON.stringify(cohort),
      contentType: 'application/json'
    }).done(function(data) {
      // console.log(data);
      $('#cohort-heatmap').html(data);
    });

  });

</script>
{% endblock %}
